<div class="m-2 flex flex-column md:flex-row justify-content-between gap-2">
    <p-button iconPos="left" icon="pi pi-align-justify" label="App Page erstellen"
              (onClick)="openCreatePage()"></p-button>

    <p-button iconPos="left" icon="pi pi-send" label="Notification senden"
              (onClick)="openMessaging()"></p-button>
</div>
<p-table [value]="pages"
         [loading]="loading()"
         styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="caption">
        Pages
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Text</th>
            <th>Cloudflare-ID</th>
            <th>in News</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dto>
        <tr>
            <td class="vertical-align-top">{{ dto.id }}</td>
            <td class="vertical-align-top">{{ dto.title }}</td>
            <td class="vertical-align-top">
                <pre>{{ dto.markdown }}</pre>
            </td>
            <td class="vertical-align-top">{{ dto.cloudflareId }}</td>
            <td class="vertical-align-top">{{ dto.news ? 'Ja' : 'Nein' }}</td>
            <td class="vertical-align-top">
                <div class="cursor-pointer" (click)="openEditPage(dto)"><i class="pi pi-pencil"></i></div>
            </td>
        </tr>
    </ng-template>
</p-table>
