<p-toast position="top-center"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="flex flex-column gap-4">
    <p-button (onClick)="save()" [loading]="saving()" [disabled]="!saveActive()">Speichern</p-button>
    <div *ngFor="let err of errata" class="flex flex-column gap-2">
        <div>{{ err.description }}</div>
        <textarea pInputTextarea [(ngModel)]="err.text" rows="3" cols="100" (ngModelChange)="onChange()"></textarea>
        <div class="flex flex-row gap-2 align-items-center">
            <p-button (onClick)="triggerSend(err)" [loading]="sending()" [disabled]="!triggerSendActive()">Email an Vereine senden</p-button>
            @if (saveActive()) {
                <span class="text-xs">Es liegen ungespeicherte Daten vor - zuerst speichern!</span>
            }
        </div>
        <hr/>
    </div>
</div>
