<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="smtpuser" source="logging.mail.smtp.user"/>
    <springProperty scope="context" name="smtppassword" source="logging.mail.smtp.password"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <evaluator class="ch.qos.logback.classic.boolex.OnErrorEvaluator"/>
        <smtpHost>mail.netzone.ch</smtpHost>
        <smtpPort>587</smtpPort>
        <username>${smtpuser}</username>
        <password>${smtppassword}</password>
        <asynchronousSending>false</asynchronousSending>
        <from>${smtpuser}</from>
        <to>stefan.jucker@gmail.com</to>
        <subject>[ZKMF2024 ${spring.profiles.active}]: %logger{20} - %msg</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </layout>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="EMAIL"/>
        </root>
    </springProfile>

</configuration>
