<p-toast position="top-center"></p-toast>
<div class="card">
    <div class="flex flex-row gap-2 justify-content-between align-items-end h-full">
        <div class="flex flex-column gap-2 flex-1">
            <label htmlFor="date">Datum (yyyy-mm-dd)</label>
            <input id="date" type="text" pInputText [(ngModel)]="newEntry.date"/>
        </div>
        <div class="flex flex-column gap-2 flex-1">
            <label htmlFor="start">Start (hh:mm:ss)</label>
            <input id="start" type="text" pInputText [(ngModel)]="newEntry.start"/>
        </div>
        <div class="flex flex-column gap-2 flex-1">
            <label htmlFor="end">Stop (hh:mm:ss)</label>
            <input id="end" type="text" pInputText [(ngModel)]="newEntry.end"/>
        </div>

        <div class="flex flex-column gap-2 flex-1">
            <label htmlFor="locations">Wettspiellokal</label>
            <p-dropdown [options]="availableLocations"
                        optionValue="id"
                        optionLabel="name"
                        id="locations"
                        [(ngModel)]="newEntry.locationId"></p-dropdown>
        </div>
        <div class="flex flex-column gap-2 flex-1">
            <label htmlFor="vereine">Verein</label>
            <p-dropdown [options]="availableVereine"
                        optionValue="id"
                        optionLabel="name"
                        [(ngModel)]="newEntry.vereinId"
                        id="vereine"
                        (onChange)="vereinSelectionChanged()"
                        [filter]="true"></p-dropdown>
        </div>
        <div class="flex flex-column gap-2 flex-1">
            <label htmlFor="programme">Modul</label>
            <p-dropdown [options]="availableProgramme"
                        optionValue="id"
                        optionLabel="name"
                        id="programme"
                        [(ngModel)]="newEntry.vereinProgrammId"></p-dropdown>
        </div>
        <div class="flex justify-content-end">
            <p-button (onClick)="create()"
                      [disabled]="!valid">
                Erstellen
            </p-button>
        </div>
    </div>
    <div class="card flex flex-row gap-2 justify-content-start align-items-end">
        <div class="flex flex-column gap-2 w-20rem">
            <label htmlFor="judge1">Jury 1</label>
            <p-dropdown [options]="availableJudges"
                        optionValue="id"
                        optionLabel="name"
                        id="judge1"
                        [(ngModel)]="newEntry.judge1Id"></p-dropdown>
        </div>
        <div class="flex flex-column gap-2 w-20rem">
            <label htmlFor="judge2">Jury 2</label>
            <p-dropdown [options]="availableJudges"
                        optionValue="id"
                        optionLabel="name"
                        id="judge2"
                        [(ngModel)]="newEntry.judge2Id"></p-dropdown>
        </div>
        <div class="flex flex-column gap-2 w-20rem">
            <label htmlFor="judge3" class="">Jury 3</label>
            <p-dropdown [options]="availableJudges"
                        optionValue="id"
                        optionLabel="name"
                        id="judge3"
                        [(ngModel)]="newEntry.judge3Id"></p-dropdown>
        </div>
    </div>
</div>

<div *ngFor="let location of locations">
    <hr/>
    <p-table [value]="getEntriesForLocation(location)"
             styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
        <ng-template pTemplate="caption">{{location}}</ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Datum</th>
                <th>Start</th>
                <th>Ende</th>
                <th>Modul</th>
                <th>Klasse</th>
                <th>Besetzung</th>
                <th>Verein</th>
                <th>Jury 1</th>
                <th>Jury 2</th>
                <th>Jury 3</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dto>
            <tr>
                <td>{{dto.date | date: 'dd.MM.yyyy'}}</td>
                <td>{{dto.start}}</td>
                <td>{{dto.end}}</td>
                <td>{{dto.modul}}</td>
                <td>{{dto.klasse}}</td>
                <td>{{dto.besetzung}}</td>
                <td>{{dto.verein}}</td>
                <td>{{dto.judge1}}</td>
                <td>{{dto.judge2}}</td>
                <td>{{dto.judge3}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>


