<p-confirmDialog></p-confirmDialog>
<p-toast position="top-center"></p-toast>
<div class="card p-component">
    <div class="p-fluid grid">
        <div class="field col-12 md:col-4 lg:col-3">
            <span class="p-float-label">
            <p-dropdown id="vereine"
                        [options]="availableVereine"
                        [(ngModel)]="vereinId"
                        optionValue="id"
                        optionLabel="name"
                        (onChange)="vereinSelectionChanged()"
                        [filter]="true"></p-dropdown>
            <label for="vereine">Verein</label>
            </span>
        </div>
    </div>
    <div *ngIf="vereinId > 0">
        <div *ngFor="let entry of timetableEntries">
            <h3 class="mb-0">
                {{ entry.modulDescription }}
                <span *ngIf="entry.klasse"> {{ entry.klasse }}</span>
                <span *ngIf="entry.besetzung"> {{ entry.besetzung }}</span>
            </h3>

            <div *ngFor="let e of entry.entries" class="p-fluid grid">
                <h4 class="col-12 m-0">{{ getTranslation(e.type) }}</h4>
                <div class="field col-12 md:col-3 lg:col-2">
                    <span class="p-float-label">
                        <input type="text" id="date" pInputText [(ngModel)]="e.date">
                        <label for="date">Datum (jjjj-mm-dd)</label>
                    </span>
                </div>
                <div class="field col-12 md:col-3 lg:col-2">
                    <span class="p-float-label">
                        <input type="text" id="start" pInputText [(ngModel)]="e.start">
                        <label for="start">Start (hh:mm)</label>
                    </span>
                </div>

                <div class="field col-12 md:col-3 lg:col-2">
                    <span class="p-float-label">
                        <input type="text" id="end" pInputText [(ngModel)]="e.end">
                        <label for="end">Stop (hh:mm)</label>
                    </span>
                </div>

                <div class="field col-12 md:col-3 lg:col-2">
                    <span class="p-float-label">
                    <p-dropdown id="locations"
                                [options]="e.availableLocations"
                                [(ngModel)]="e.locationId"
                                optionValue="id"
                                optionLabel="name"></p-dropdown>
                    <label for="locations">Lokal</label>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="flex flex lg:justify-content-start">
        <p-button (onClick)="create()"
                  [disabled]="!valid">
            Erstellen
        </p-button>
    </div>
</div>

<div *ngFor="let location of locations">
    <hr/>
    <p-table [value]="getEntriesForLocation(location)"
             styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
        <ng-template pTemplate="caption">{{ location }}</ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="col-1">Typ</th>
                <th class="col-1">Datum</th>
                <th class="col-1">Start</th>
                <th class="col-1">Ende</th>
                <th class="col-2">Modul</th>
                <th class="col-1">Klasse</th>
                <th class="col-1">Besetzung</th>
                <th class="col-3">Verein</th>
                <th class="col-1"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dto>
            <tr>
                <td class="col-1">{{ dto.type }}</td>
                <td>{{ dto.date | date: 'EEEE, dd.MM.yyyy' }}</td>
                <td>{{ formatTime(dto.start) }}</td>
                <td>{{ formatTime(dto.end) }}</td>
                <td>{{ dto.modul }}</td>
                <td>{{ dto.klasse }}</td>
                <td>{{ dto.besetzung }}</td>
                <td>{{ dto.verein }}</td>
                @if (isReadOnly()) {
                    <td></td>
                } @else {
                    <td class="flex align-items-baseline gap-2">
                        <button pButton pRipple icon="pi pi-pencil" (click)="edit(dto)"></button>
                        <button pButton pRipple icon="pi pi-trash" (click)="delete(dto)"></button>
                        <button pButton pRipple icon="pi pi-users" (click)="assignJudges(dto)" *ngIf="canAssignJudges(dto)"></button>
                        <i class="pi pi-users" *ngIf="hasJudgesAssigned(dto)" [pTooltip]="judges(dto)" tooltipPosition="left"></i>
                    </td>
                }
            </tr>
        </ng-template>
    </p-table>
</div>


