<p-tabView *ngIf="verein">
    <p-tabPanel header="Wettspielprogramm">
        <p-button iconPos="right" icon="pi pi-check"
                  label="Programm bestätigen"
                  *ngIf="phase2Done && !phase2Confirmed"
                  [loading]="confirming"
                  (onClick)="confirm()"></p-button>

        <div *ngIf="phase2Confirmed">
            Programm bestätigt am {{verein.phase2ConfirmedAt | date: 'dd.MM.yyyy HH:mm'}}
            durch {{verein.phase2ConfirmedBy}}
        </div>

        <div>
            <h3>Provisorische Einsatzzeiten</h3>
            <div *ngIf="verein.provWettspiel">Wettspiel: {{verein.provWettspiel}}</div>
            <div *ngIf="verein.provParademusik">Parademusik: {{verein.provParademusik}}</div>
            <div *ngIf="verein.provPlatzkonzert">Platzkonzert: {{verein.provPlatzkonzert}}</div>
        </div>

        <div *ngFor="let programm of verein.programme; let last = last;">
            <h3>{{programm.modulDescription}} {{programm.klasse}} {{programm.besetzung}}</h3>
            <div *ngIf="hasVorgabeDauer(programm)"><b>Vorgabe Dauer</b>:
                {{formatDuration(programm.minDurationInSeconds)}} - {{formatDuration(programm.maxDurationInSeconds)}}
            </div>

            <div *ngIf="isModulAB(programm)">
                <div [ngClass]="{'invalid': isBlank(programm.titel)}"><b>Programmtitel</b>: {{programm.titel}}</div>
                <div [ngClass]="{'invalid': isBlank(programm.infoModeration)}">
                    <b>Erläuterungen zum Selbstwahlprogramm</b>: {{programm.infoModeration}}
                </div>
            </div>

            <div *ngIf="isModulB(programm)">
                <div><b>Weitere Angaben</b></div>
                <div *ngIf="programm.unterhaltungPA">PA wird benötigt</div>
                <div *ngIf="programm.unterhaltungEGitarre">E-Gitarre</div>
                <div *ngIf="programm.unterhaltungEBass">E-Bass</div>
                <div *ngIf="programm.unterhaltungKeyboard">Keyboard</div>
                <div *ngIf="programm.unterhaltungGesang">Gesang</div>
            </div>

            <div *ngIf="!isModulD(programm) && !isModulG(programm)" class="pt-5">
                <div><b>Ablauf</b></div>
                <table>
                    <tr>
                        <th class="pl-2 pr-2 text-left">Nr.</th>
                        <th class="pl-2 pr-2 text-left">Musikstück</th>
                        <th class="pl-2 pr-2 text-left"
                            *ngIf="!isModulC(programm)">
                            Dauer Stück
                        </th>
                        <th class="pl-2 pr-2 text-left"
                            *ngIf="isModulAB(programm) || isModulH(programm)">
                            Dauer Applaus
                        </th>
                        <th class="pl-2 pr-2 text-left"
                            *ngIf="isModulAB(programm) || isModulH(programm)">
                            Grad
                        </th>
                    </tr>
                    <tr *ngFor="let entry of programm.ablauf; let i = index; let first = first; let last = last;">
                        <td class="pl-2 pr-2">{{i + 1}}</td>
                        <td class="pl-2 pr-2">
                            {{entry.titel.titelName}} ({{entry.titel.composer}})<span *ngIf="entry.titel.pflichtStueck">*</span>
                        </td>
                        <td class="pl-2 pr-2"
                            *ngIf="!isModulC(programm)">
                            {{formatDuration(entry.titel.durationInSeconds)}}
                        </td>
                        <td class="pl-2 pr-2"
                            *ngIf="isModulAB(programm) || isModulH(programm)">
                            {{formatDuration(entry.applausInSeconds)}}
                        </td>
                        <td class="pl-2 pr-2" *ngIf="isModulAB(programm)">
                            {{entry.titel.grad}}
                        </td>
                        <td class="pl-2 pr-2"
                            *ngIf="isModulH(programm)">
                            {{entry.titel.schwierigkeitsgrad}}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="pl-2 pr-2"
                            *ngIf="hasVorgabeDauer(programm) && !this.isModulC(programm) && programm.ablauf.length > 0">
                            <span [ngClass]="{'valid': isInRange(programm), 'invalid': !isInRange(programm)}">
                                <b>{{formatDuration(programm.totalDurationInSeconds)}}</b>
                            </span>
                        </td>
                        <td *ngIf="isModulAB(programm) || isModulH(programm)"></td>
                        <td *ngIf="isModulAB(programm) || isModulH(programm)"></td>
                    </tr>
                </table>
            </div>

            <div *ngIf="isModulAB(programm)">
                <div *ngFor="let titel of selbstwahlTitel(programm)" class="pt-3">
                    <div [ngClass]="{'invalid': isBlank(titel.infoModeration)}">
                        <b>Infos für die Moderation: {{titel.titelName}}</b>
                    </div>
                    <div>{{titel.infoModeration}}</div>
                </div>
            </div>

            <div *ngIf="isModulD(programm)">
                <div><b>Komposition 1 (Schweizer Marsch)</b></div>
                <div>{{programm.parademusikTitel1.titelName}}</div>
                <div>{{programm.parademusikTitel1.composer}}</div>
                <div>{{programm.parademusikTitel1.arrangeur}}</div>
                <div>{{formatDuration(programm.parademusikTitel1.durationInSeconds)}}</div>

                <div class="pt-3"><b>Komposition 2</b></div>
                <div>{{programm.parademusikTitel2.titelName}}</div>
                <div>{{programm.parademusikTitel2.composer}}</div>
                <div>{{programm.parademusikTitel2.arrangeur}}</div>
                <div>{{formatDuration(programm.parademusikTitel2.durationInSeconds)}}</div>
            </div>

            <div *ngIf="isModulG(programm)">
                <div *ngIf="programm.tambourenKatA">
                    <div><b>Kategorie A</b></div>
                    <div>Grundlage 1: {{programm.tambourenKatAGrundlage1}}</div>
                    <div>Grundlage 2: {{programm.tambourenKatAGrundlage2}}</div>

                    <div class="pt-3"><b>Frei gewählter Baslermarsch (BM) oder Marsch (M)</b></div>
                    <div>{{programm.tambourenKatATitel1.titelName}}</div>
                    <div>{{programm.tambourenKatATitel1.composer}}</div>
                    <div>{{programm.tambourenKatATitel1.arrangeur}}</div>
                    <div>{{formatDuration(programm.tambourenKatATitel1.durationInSeconds)}}</div>

                    <div class="pt-3"><b>Frei gewählte Komposition</b></div>
                    <div>{{programm.tambourenKatATitel2.titelName}}</div>
                    <div>{{programm.tambourenKatATitel2.composer}}</div>
                    <div>{{programm.tambourenKatATitel2.arrangeur}}</div>
                    <div>{{formatDuration(programm.tambourenKatATitel2.durationInSeconds)}}</div>
                </div>

                <div *ngIf="programm.tambourenKatB">
                    <div><b>Kategorie B</b></div>
                    <div><b>Komposition</b></div>
                    <div>{{programm.tambourenKatBTitel.titelName}}</div>
                    <div>{{programm.tambourenKatBTitel.composer}}</div>
                    <div>{{programm.tambourenKatBTitel.arrangeur}}</div>
                    <div>{{formatDuration(programm.tambourenKatBTitel.durationInSeconds)}}</div>
                </div>

                <div *ngIf="programm.tambourenKatC">
                    <div><b>Kategorie C</b></div>
                    <div><b>Komposition</b></div>
                    <div>{{programm.tambourenKatCTitel.titelName}}</div>
                    <div>{{programm.tambourenKatCTitel.composer}}</div>
                    <div>{{programm.tambourenKatCTitel.arrangeur}}</div>
                    <div>{{formatDuration(programm.tambourenKatCTitel.durationInSeconds)}}</div>
                </div>
            </div>

            <div *ngIf="isModulC(programm)">
                <div><b>Kommentar:</b> {{programm.infoModeration}}</div>
            </div>

            <hr *ngIf="!last"/>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Vereinsangaben">
        <div><span class="font-semibold">Email:</span> {{verein.email}}</div>
        <div><span class="font-semibold">Vereinsname:</span> {{verein.angaben.vereinsname}}</div>
        <div><span class="font-semibold">Adresse:</span> {{verein.angaben.adresse}}</div>
        <div><span class="font-semibold">PLZ:</span> {{verein.angaben.plz}}</div>
        <div><span class="font-semibold">Ort:</span> {{verein.angaben.ort}}</div>
        <div><span class="font-semibold">Homepage:</span> {{verein.angaben.homepage}}</div>
        <div><span class="font-semibold">IBAN:</span> {{verein.angaben.iban}}</div>
        <div *ngIf="verein.angaben.direktionDoppeleinsatz">
            <span class="font-semibold">Dirigent/in - Doppelteilnahme:</span> ja
            ({{verein.angaben.direktionDoppeleinsatzVerein}})
        </div>
        <div *ngIf="verein.angaben.mitspielerDoppeleinsatz">
            <span class="font-semibold"> Musikant/innen - Doppelteilnahme:</span> ja
        </div>
    </p-tabPanel>
    <p-tabPanel header="Kontaktangaben - Präsident/in">
        <div><span class="font-semibold">Vorname:</span> {{verein.praesident.vorname}}</div>
        <div><span class="font-semibold">Name:</span> {{verein.praesident.nachname}}</div>
        <div><span class="font-semibold">Adresse:</span> {{verein.praesident.adresse}}</div>
        <div><span class="font-semibold">PLZ:</span> {{verein.praesident.plz}}</div>
        <div><span class="font-semibold">Ort:</span> {{verein.praesident.ort}}</div>
        <div><span class="font-semibold">Email:</span> {{verein.praesident.email}}</div>
        <div><span class="font-semibold">Telefon privat:</span> {{verein.praesident.telefonPrivat}}</div>
        <div><span class="font-semibold">Telefon mobile:</span> {{verein.praesident.telefonMobile}}</div>
    </p-tabPanel>
    <p-tabPanel header="Kontaktangaben - Dirigent/in">
        <div><span class="font-semibold">Vorname:</span> {{verein.direktion.vorname}}</div>
        <div><span class="font-semibold">Name:</span> {{verein.direktion.nachname}}</div>
        <div><span class="font-semibold">Adresse:</span> {{verein.direktion.adresse}}</div>
        <div><span class="font-semibold">PLZ:</span> {{verein.direktion.plz}}</div>
        <div><span class="font-semibold">Ort:</span> {{verein.direktion.ort}}</div>
        <div><span class="font-semibold">Email:</span> {{verein.direktion.email}}</div>
        <div><span class="font-semibold">Telefon privat:</span> {{verein.direktion.telefonPrivat}}</div>
        <div><span class="font-semibold">Telefon mobile:</span> {{verein.direktion.telefonMobile}}</div>
    </p-tabPanel>
    <p-tabPanel header="Vereinsinfo (Website)">
        <div><span class="font-semibold">Vorstellungstext:</span> {{verein.info.websiteText}}</div>
        <div *ngIf="verein.info.logoImgId">
            <img [src]="logoImgSrc" alt="Vereinslogo" class="max-w-20rem"/>
        </div>
        <div *ngIf="verein.info.bildImgId">
            <img [src]="bildImgSrc" alt="Vereinsbild" class="max-w-30rem"/>
        </div>
    </p-tabPanel>
</p-tabView>
<p-progressBar *ngIf="loading" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
<p *ngIf="!loading && !verein">Ein Fehler ist aufgetreten...</p>
