<p-toast position="top-center"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="m-2 flex flex-column md:flex-row justify-content-between gap-2">
    <p-button label="Login erstellen"
              (onClick)="openCreateJuryUser()"
              [disabled]="isReadOnly()"></p-button>
    <div class="flex gap-2 justify-content-between">
        <p-button iconPos="left" icon="pi pi-download" [loading]="exportingRankings()" label="Export Ranglisten"
                  (onClick)="exportRankings()"></p-button>
        <p-button iconPos="left" icon="pi pi-download" [loading]="exporting()" label="Backup Export"
                  (onClick)="export()"></p-button>
    </div>
</div>

<p-table [value]="jury"
         styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="caption">
        Jury-Mitglieder
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Email/Login</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-judge>
        <tr>
            <td>{{ judge.name }}</td>
            <td>{{ judge.email }}</td>
        </tr>
    </ng-template>
</p-table>
