<p-toast position="top-center"></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-table [value]="data"
         [loading]="loading"
         styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="caption">
        Vereine
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="angaben.vereinsname">Vereinsname
                <p-sortIcon field="angaben.vereinsname"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.modulA">Modul A
                <p-sortIcon field="anmeldung.modulA"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.modulB">Modul B
                <p-sortIcon field="anmeldung.modulB"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.modulC">Modul C
                <p-sortIcon field="anmeldung.modulC"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.modulD">Modul D
                <p-sortIcon field="anmeldung.modulD"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.modulE">Modul E
                <p-sortIcon field="anmeldung.modulE"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.modulF">Modul F
                <p-sortIcon field="anmeldung.modulF"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.modulG">Modul G
                <p-sortIcon field="anmeldung.modulG"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.modulH">Modul H
                <p-sortIcon field="anmeldung.modulH"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.klasseModulA">Klasse Modul A
                <p-sortIcon field="anmeldung.klasseModulA"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.klasseModulB">Klasse Modul B
                <p-sortIcon field="anmeldung.klasseModulB"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.klasseModulH">Klasse Modul H
                <p-sortIcon field="anmeldung.klasseModulH"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.harmonie">Harmonie
                <p-sortIcon field="anmeldung.harmonie"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.brassBand">Brass Band
                <p-sortIcon field="anmeldung.brassBand"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.fanfare">Fanfare
                <p-sortIcon field="anmeldung.fanfare"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.tambouren">Tambouren
                <p-sortIcon field="anmeldung.tambouren"></p-sortIcon>
            </th>
            <th pSortableColumn="anmeldung.perkussionsensemble">Perk.ens.
                <p-sortIcon field="anmeldung.perkussionsensemble"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dto>
        <tr>
            <td>{{dto.angaben.vereinsname}}</td>
            <td>{{formatBoolean(dto.anmeldung.modulA)}}</td>
            <td>{{formatBoolean(dto.anmeldung.modulB)}}</td>
            <td>{{formatBoolean(dto.anmeldung.modulC)}}</td>
            <td>{{formatBoolean(dto.anmeldung.modulD)}}</td>
            <td>{{formatBoolean(dto.anmeldung.modulE)}}</td>
            <td>{{formatBoolean(dto.anmeldung.modulF)}}</td>
            <td>{{formatBoolean(dto.anmeldung.modulG)}}</td>
            <td>{{formatBoolean(dto.anmeldung.modulH)}}</td>
            <td>{{formatKlasse(dto.anmeldung.klasseModulA)}}</td>
            <td>{{formatKlasse(dto.anmeldung.klasseModulB)}}</td>
            <td>{{formatKlasse(dto.anmeldung.klasseModulH)}}</td>
            <td>{{formatBoolean(dto.anmeldung.harmonie)}}</td>
            <td>{{formatBoolean(dto.anmeldung.brassBand)}}</td>
            <td>{{formatBoolean(dto.anmeldung.fanfare)}}</td>
            <td>{{formatBoolean(dto.anmeldung.tambouren)}}</td>
            <td>{{formatBoolean(dto.anmeldung.perkussionsensemble)}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        Total: {{count()}}
    </ng-template>
</p-table>
