<p-toast position="top-center"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="m-2 flex justify-content-end">
    <p-button iconPos="right" icon="pi pi-download" [loading]="exporting" label="Export"
              (onClick)="export()"></p-button>
</div>
<p-table [value]="data"
         [loading]="loading"
         styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="caption">
        Vereine
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th></th>
            <th pSortableColumn="vereinsname">Vereinsname
                <p-sortIcon field="vereinsname"></p-sortIcon>
            </th>
            <th pSortableColumn="registrationConfirmed">Angemeldet
                <p-sortIcon field="registrationConfirmed"></p-sortIcon>
            </th>
            <th pSortableColumn="phase1">Phase 1
                <p-sortIcon field="phase1"></p-sortIcon>
            </th>
            <th pSortableColumn="phase2">Phase 2
                <p-sortIcon field="phase2"></p-sortIcon>
            </th>
            <th pSortableColumn="programmLastUpdated">Phase 2 Änderungsdatum
                <p-sortIcon field="programmLastUpdated"></p-sortIcon>
            </th>
            <th pSortableColumn="modulA">Modul A
                <p-sortIcon field="modulA"></p-sortIcon>
            </th>
            <th pSortableColumn="modulB">Modul B
                <p-sortIcon field="modulB"></p-sortIcon>
            </th>
            <th pSortableColumn="modulC">Modul C
                <p-sortIcon field="modulC"></p-sortIcon>
            </th>
            <th pSortableColumn="modulD">Modul D
                <p-sortIcon field="modulD"></p-sortIcon>
            </th>
            <th pSortableColumn="modulE">Modul E
                <p-sortIcon field="modulE"></p-sortIcon>
            </th>
            <th pSortableColumn="modulF">Modul F
                <p-sortIcon field="modulF"></p-sortIcon>
            </th>
            <th pSortableColumn="modulG">Modul G
                <p-sortIcon field="modulG"></p-sortIcon>
            </th>
            <th pSortableColumn="modulH">Modul H
                <p-sortIcon field="modulH"></p-sortIcon>
            </th>
            <th pSortableColumn="klasseModulA">Klasse Modul A
                <p-sortIcon field="klasseModulA"></p-sortIcon>
            </th>
            <th pSortableColumn="klasseModulB">Klasse Modul B
                <p-sortIcon field="klasseModulB"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dto>
        <tr>
            <td>
                <div class="cursor-pointer" (click)="openVereinDetail(dto)"><i class="pi pi-eye"></i></div>
            </td>
            <td>
                <div class="cursor-pointer" (click)="openVereinComments(dto)">
                    <i class="pi pi-comments" [ngStyle]="{'color': dto.hasComments ? '' : 'lightgrey' }"></i>
                </div>
            </td>
            <td>{{dto.vereinsname}}</td>
            <td><i class="pi pi-star" *ngIf="dto.registrationConfirmed"></i></td>
            <td><i [ngClass]="getPhaseStatusIcon(dto.phase1)"></i></td>
            <td [ngClass]="{'confirmed': dto.phase2Confirmed}">
                <i [ngClass]="getPhaseStatusIcon(dto.phase2)"></i>
            </td>
            <td>{{dto.programmLastUpdated | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td>{{formatBoolean(dto.modulA)}}</td>
            <td>{{formatBoolean(dto.modulB)}}</td>
            <td>{{formatBoolean(dto.modulC)}}</td>
            <td>{{formatBoolean(dto.modulD)}}</td>
            <td>{{formatBoolean(dto.modulE)}}</td>
            <td>{{formatBoolean(dto.modulF)}}</td>
            <td>{{formatBoolean(dto.modulG)}}</td>
            <td>{{formatBoolean(dto.modulH)}}</td>
            <td>{{formatKlasse(dto.klasseModulA)}}</td>
            <td>{{formatKlasse(dto.klasseModulB)}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        Total: {{count()}}
    </ng-template>
</p-table>
